:root {
  --color-one:  #fff;
  --color-two: #fcfcfc;
  --color-three: #f2f2f2;
  --color-four: #edc00e;
  --color-five: #eaebed;
  --color-six: #69aff4;

  --buttons-secundary-color: var(--color-six);
  --buttons-color: var(--color-five);
  --border-color: var(--color-three);
  --background-color: var(--color-two);
  --color: var(--color-one);
}

html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;

}

.app {
  height: 100%;
}

.menu {
    background-color: var(--color-one);
    height: 100%;
    border-radius: 5px;
    border-color: var(--border-color);
    border-width: 2px;
    border-style: none solid none none;
  }
.app-container {
    background-color: var(--background-color);
    height: 100%;
  }
.nav {
  width: 100%;
  height: 145px;
  background-color: var(--background-color);
}

.profile-wrapper {
  width: 360px;
  height: 100px;
  padding: 25px;
  float: right;
  text-align: center;
  display: flex;
  justify-content: center;
}

.profile-item {
  display: inline-block;
  height: 100px;
  margin-left: 20px; 

}

.profile-pic {
  background-color: gray;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.profile-name {
  color: blue;
  font-size: 24px;
  text-align: right;
}

.profile-title {
  color: gray;
  font-size: 14px;
  text-align: right;
}

.profile-menu {
  position: relative;
  top: 10px;
}

.custom-card {
  width: calc( 100% - 20px);
  height: 620px;
  margin: 0px 10px;
  padding: 25px;
  background-color: var(--color-one);
  border-radius: 10px;
  border-color: var(--border-color);
  border-width: 2px;
  border-style: solid;
  overflow-y: scroll;
  transition: height 0.5s
  
}
.card-open {
  height: 820px;
}

.card-title-wrapper {
  color: var(--color-four);
  height: 80px;

}

.card-title {
  font-size: 1.23em;
  margin: 0;
}

.card-date {
  font-size: .93em;
  margin: 5px 2px;
}

.custom-icon {
  font-size: 20px;
}

.custom-button {
  display: inline-block;
  font-size: 12px;
  line-height: 20px;
  height: 25px;
  width: 130px;
  padding: 3px;
  background-color: var(--buttons-color);
  cursor: pointer;
  border-radius: 5%;
  color: var(--color-four); 
  margin-right: 10px;
}

.table-btn {
  width: 85px;
  text-align: center;
}

.blue-btn {
  color: blue;
  background-color: var(--buttons-color);

}

.custom-button:hover {
  opacity: 0.8;
}

.download-btn {
  color:var(--buttons-secundary-color);
  width: 160px;
}

.card-checkbox {
  width: 100%;;
  margin-top: 15px;
  padding-top: 5px;
  background-color: var(--border-color);
  overflow-y: scroll;
  border-color: var(--color-four);
  border-width: 5px;
  border-style: none none none solid;
  height: 0;
  opacity: 0;
  transition: height 0.5s, opacity 0.5s;
}

.open {
   height: 225px;
   opacity: 1;
   }



.checkbox[type="checkbox"].filled-in:checked + label:after {
  border: 2px solid #aa6e15;
  background-color: var(--color-four);
  width: 15px;
  height: 15px;
}

[type="checkbox"].filled-in:not(:checked)+label:after {
  height: 15px;
  width: 15px;
  background-color: #fff;
  border: 2px solid #aa6e15;
  top: 0px;
  z-index: 0;
}

[type="checkbox"].filled-in:checked+label:before {
display: none;
}


.checkbox-wrapper {
  float: left;
  width: 35px;
}

.card-instruction-row {
  padding: 0px 15px;
  width: 100%;
  height: 45px;
  margin-bottom: 10px;
  font-size: 12px;
}

.instructions {
  position: relative;
  top: 5px;
}

.instructions.info {
  color: grey;
}

.table-wrapper {
  overflow: auto;
  height: 325px;
}

td {
  border-bottom: 1px solid #ddd;
  
}

.table-name {
  font-weight: bold;
  font-size: 16px;
}

.table-email {
  color: gray;
}

.table-buttons {
  float: right;
}

.table-cell-key {
  font-size: 12px;
}

.table-cell-value {
  font-size: 14px;
}